{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "IE 11", "> 1%"],
        "node": 6.4
      },
      "modules": false,
      "loose": true,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
     "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
