<script src="https://unpkg.com/handlebars@4.0.6/dist/handlebars.min.js"></script>
<script id="language-selector" type="text/x-handlebars-template">
  <li><a href="#" data-lang='{{{lang}}}'>{{{description}}}</a></li>
</script>
<script id="language-selected" type="text/x-handlebars-template">
  <button class="flag--square"><button>
</script>
<script>
  class LanguageSelector extends HTMLElement {
    constructor() {
      super();
    }

    static get observedAttributes() {
      return ['language', 'languages'];
    }

    attributeChangedCallback(name, oldValue={}, newValue={}) {
      if(name === 'language'){
        const selector = this.getElementsByTagName('button')[0];
        const parsedOldValue = JSON.parse(!!oldValue ? oldValue : null);
        const parsedNewValue = JSON.parse(!!newValue ? newValue : null);
        
        if(parsedOldValue && parsedOldValue.isoCode){
          selector.classList.remove(`flag__${parsedOldValue.isoCode}--square`);
        }
        selector.classList.add(`flag__${parsedNewValue.isoCode}--square`);
        selector.innerHTML = parsedNewValue.description;
      }
    }
    
    connectedCallback() {
      if(!this.languages){
        return
      }
      
      this._languages = JSON.parse(this.getAttribute('languages'));
      if(this._languages <= 0){
        return;
      }
      const element = document.createElement('button');
      element.classList.add('flag--square');
      this.appendChild(element);
      
      element.addEventListener('click', this.click);
      this._language = this._languages.find(language => language.selected);
      this.language = JSON.stringify(this._language);
      //element.innerHTML = this._language.description;
      const templateSource   = document.currentScript.ownerDocument.querySelector("#language-selector").innerHTML;
      const template = Handlebars.compile(templateSource);
      const languages = this._languages.map((item) => {
        item.lang = JSON.stringify(item);
        const pt = template(item);
        return pt;
      });
      const languageList = document.createElement('ul');
      languageList.innerHTML = languages;
      languageList.classList.add('language-list', 'hidden');
      languageList.addEventListener('click', (e) => {
        this.language = e.target.dataset.lang;
      });
      this.appendChild(languageList);
    }
    click(){
      document.querySelector('.language-list').classList.toggle('hidden');
    }
    get languages() {
      return this.hasAttribute('languages');
    }
    get language() {
      return this.hasAttribute('language');
    }
    set language(v) {
      this.setAttribute('language', v);
    }
  }
  customElements.define('language-selector', LanguageSelector);
</script>